
body {
	background-color: grey;
	margin: 25px 25px 100px; 
}

h1 {
	color: maroon;
	text-align: center;
}

h2 {
	color: blue;
	font-size: 20px;
}


form {
	width: 200px;	
}

input {
	border-color: maroon;
	height: 30px;
	width: 200px;
}

button {
	width: 100px;
	height: 50px;
	margin: 50px;
	background-color: maroon;
	color: white;
}

.mad {
	width: 80%;
	color: white;
	border: 3px solid maroon;
	font-size: 25px;
}

u {
	text-decoration: underline;	
}


#bonus {
	width: 80%;
	color: yellow;
	border-top: 3px dotted blue;
	border-bottom: 3px dotted blue;
	font-size: 25px;
}

p {
	font-size:20px;
	color: black;
}

